annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
bcrypt==4.0.1
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
fastapi==0.127.0
h11==0.16.0
idna==3.11
joblib==1.5.3
jose==1.0.0
networkx==3.6.1
numpy==2.4.0
packaging==25.0
pandas==2.3.3
passlib[bcrypt]==1.7.4
pyasn1==0.6.1
pydantic==2.12.5
pydantic_core==2.41.5
pymongo==4.15.5
python-dateutil==2.9.0.post0
python-jose==3.5.0
python-multipart==0.0.21
pytz==2025.2
rsa==4.9.1
scikit-fuzzy==0.5.0
scikit-learn==1.8.0
scipy==1.16.3
six==1.17.0
starlette==0.50.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
uvicorn==0.40.0
