fastapi==0.111.1
uvicorn==0.24.0
pandas
numpy
scikit-learn
scikit-fuzzy
joblib
python-multipart
pymongo
python-dotenv



# pip install -r requirements.txt

pymongo
packaging
networkx
pydantic[email]
passlib[bcrypt]==1.7.4